# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\web3_l\Web3_Tutorial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
